<!DOCTYPE html>

<!--
	
	TODO: Disable page scroll
	TODO: Implement infinite canvas with map
	TODO: Implement zoom feature (like google earth) 

-->
<html>

	
	
	<head>

		<meta charset="utf-8">
		<title>MindCraft2D></title>

	</head>

	<body scroll="no" style="overflow: hidden">
		
		{% load static %}

		<link rel="stylesheet" type="text/css" href="{% static 'mindmap/styles/styles.css' %}">

		<div id="{{ rootNodeLabel }}" class="rootNode">


		{% for node in graph.nodes %}

			<div id="{{node.uid}}-div" class="node-div" style="left: {{node.cx}};top: {{node.cy}};" >
				
				<button id="{{node.uid}}-button" class="node-button" onclick="expandNode(this)">
					{{node.label}}
				</button>

				<button id="{{node.uid}}-add-button" class="add-node-button" onclick="addNode(this)">
					+
				</button>

				<button id="{{node.uid}}-delete-button" class="delete-node-button" onclick="deleteNode(this)">
					-
				</button>
					
			
			</div>

		{% endfor %}

		{% for edge in graph.edges %}



		{% endfor %}

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'mindmap/scripts/mindmap.js' %}"></script>
	
	</body>

</html>



