.node-div{

    position: absolute;

}

.node-button {

    border: 0;
    background: white;
    font-size:24px;
    border-style: solid;
    border-width: 2px ;

}

.add-node-button {

    position: absolute;
    right: 0px;
    bottom: -25px ;
}

.delete-node-button {

    position: absolute;
    left: 0px;
    bottom: -25px ;

}

.


